.button {
    -fx-cursor: hand;
}

.table-view .placeholder .label {
    -fx-text-fill: #999999;
    -fx-text: "Корзина пуста";
}

/* Сделаем ячейки в кассе чуть больше */
.table-row-cell {
    -fx-cell-size: 45;
}